.my-list-page {
    margin-top: 5rem;
    padding: 4rem;
    height: 80vh;
}

.my-movie-list {
    display: flex;
    flex-wrap: wrap;
}

.no-movies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}