.movie-list {
    display: flex;
    /* flex-wrap: nowrap; */
    z-index: 1;
    /* overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap; */

}

/*     display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6, calc(50% - 40px));
    grid-template-rows: minmax(150px, 1fr); 
*/