.nav-bar{
    position: fixed;
    z-index: 2;  
    width: 100%;
    background: linear-gradient(180deg, #000000 36.46%, rgba(102, 102, 102, 0) 100%);
}

a {
    text-decoration: none;
    color: white;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.nav-left{
    display: flex;
}

.nav-left ul{
    display: flex;
    margin-top: 0.2rem;
}

.nav-left ul li{
    margin-left: 2rem;
    list-style: none;
    cursor: pointer;
}

/* nav right */

.avatar{
    margin-right: 2rem;
    cursor: pointer;
}

.nav-right{
    display: flex;
}

.nav-right ul{
    display: flex;
    margin-top: 0.3rem;
}

.nav-right ul li{
    margin-right: 2rem;
    list-style: none;
    cursor: pointer;
}